<app-navbar/>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5 mb-3"
          width="150px"
          height="150px"

          src="{{ MyData?.picture }}"
        /><span class="font-weight-bold">{{ MyData?.username }}</span
        ><span class="text-black-50"
          >{{ MyData?.first_name }} {{ MyData?.last_name }}</span
        ><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
          <div><Button class="btn btn-success" routerLink="/user/edit">Edit Profile</Button></div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">First_Name</label
            ><label type="text" class="form-control">{{
              MyData?.first_name
            }}</label>
          </div>
          <div class="col-md-6">
            <label class="labels">Last_Name</label
            ><label type="text" class="form-control">
              {{ MyData?.last_name }}</label
            >
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Mobile Number</label
            ><label type="text" class="form-control">{{ MyData?.phone }}</label>
          </div>
          <div class="col-md-12">
            <label class="labels">Email </label
            ><label type="text" class="form-control">{{ MyData?.email }}</label>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer/>
