

<div class="container mt-5 col-md-6 ">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Project name : {{data?.Project}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Amount : {{data?.amount}}</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>


"created_at": "25-05-2023 03:36:19",
            "updated_at": "25-05-2023 03:36:19",
            "project": "Project 1",
            "user": "user1",
            "amount": 440
