<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand fw-bold text-success fs-4" href="#"
      ><i class="bi bi-gift me-2"></i>Crowd Funding</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="btn ms-2 me-2 search-btn" routerLink="/projects/search">
        <i class="bi bi-search me-2"></i>Search
      </button>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success ms-2 me-2" routerLink="/projects/0/edit">
            Start A project
          </button>
        </li>
      </ul>
      <div class="dropdown">
        <a
          class="dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        <span class="me-2 user-name">Kareem</span>
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            alt=""
            class="profile-pic"
          />
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Projects</a></li>
          <li><a class="dropdown-item" href="#">Donations</a></li>
        </ul>

      </div>
    </div>
  </div>
</nav>
