<div>
  <app-navbar />
  <div class="container mt-2">
    <h2>{{this.project.title}}</h2>
    <div class="d-flex flex-wrap">
      <div class="col-md-8 col-12 mb-2">
        <div
          id="carouselExampleIndicators"
          class="carousel slide mb-2"
          data-bs-ride="true"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let image of this.project.images; let i = index"
              [ngClass]="{'active': i === 0}"
            >
              <img src="{{image.url}}" class="d-block w-100 slider" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="d-flex flex-wrap justify-content-center">
          <app-project-card class="card col-md-4 col-lg-3 col-sm-6 m-3" *ngFor="let project of similarProjects" [project]="project"></app-project-card>
      </div>

        <div class="comments">
          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-12 donation">


        <div class="card mx-2 project-card">
          <div class="card-body">
            <h5 class="card-title">{{this.project.title}}</h5>
            <h5 class="card-text">Rating : {{this.project.average_rating}}</h5>
            <p class="card-text">{{this.project.details}}</p>
            <h5>{{this.project.current_donations}}$ of <small class="text-muted"> total {{this.project.target_donations}}$</small> </h5>
            <!-- <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-label="Basic example" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
            <div class="mb-3">
              <form [formGroup]="form" (submit)="submit($event)" enctype="multipart/form-data" >
                <label for="amount" class="form-label">Amount</label>
                <input min="5" formControlName="amount" type="number" class="form-control mb-2" id="amount">
                <div
                *ngIf="
                  this.getAmount.hasError('required') &&
                  this.getAmount.touched
                "
                class="invalid-feedback d-block"
              >amount is required
              </div>
                <div
            *ngIf="
              this.getAmount.hasError('pattern') &&
              this.getAmount.touched
            "
            class="invalid-feedback d-block"
          >
            amount is not valid
          </div>



                <button class = "btn btn-warning w-100 fs-4 mb-1" type="submit">Donate Now</button>
              </form>

            </div>


            <button *ngIf="loggedUser.id==this.project.user.id" class = "btn btn-danger w-100 fs-4 mb-1" onclick="">Cancel</button>
            <h5>Donations</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">user</th>
                  <th scope="col">amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.project.donations">
                  <td>{{item.user}}</td>
                  <td>{{item.amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>




      </div>
    </div>

    <div>

    </div>
  </div>
</div>
