<div>
    <div>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid mx-5">
                <div>
                    <a class="navbar-brand fw-bold text-success fs-4" href="#">
                        <i class="bi bi-gift me-2"></i>Crowd Funding</a>
                </div>
                <form class="d-flex w-75 me-5" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success px-5" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<p>{{projects}}</p>